.medium-btn {
  width: 300px;
  height: 150px;
  font-size: 2em;
}

.large-btn {
  width: 340px;
  height: 180px;
  font-size: 3em;
}

.user-input {
  max-width: 700px;
  height: 70px;
  margin: auto;
}

.btn-icon {
  width: 90px;
  height: auto;
  padding: 20px;
}
